* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dddde7;
}

header {
    width: 100%;
    height: 5em;
    background-color: #61666e;
    border-bottom: 1px solid gray;
    justify-content: center;
}

footer {
    background-color: #111E20;
    color: white;
    display: flex;
    height: 2.5em;
    width: 100%;
    border-top: 1px solid gray;
}

.footer-text {
    font-size: .65em;
    padding-left: .75em;
    padding-top: 1.5em;
}

.main-container {
    width: 100%;
    height: 98vh;
}

.nav-ul {
    margin-right: 5%;
    justify-content: center;
    float: right;
    margin-top: 1.75em;
}

.nav-ul li {
    display: inline-block;
    list-style: none;
    margin-left: .5em;   
}

.nav-ul li a {
    text-decoration: none;
    color: #E6E6F0;
}

.nav-ul li a:hover {
    cursor: pointer;
    color: red;
}

.current {
    color: red !important;
}

.logo {
    height: 5em;
    width: auto;
}