* {
    padding: 0;
    margin: 0;
}
.left {
    height: 100%;
    width: 15%;
    border-right: 1px solid black;
    float: left;
}

.right {
    width: 84.5%;
    float: right;
}

.right h1 {
    text-align: center;
    margin-top: 2.5%;
}

.service-hr {
    width: 90%;
    margin-top: .5%;
    margin-left: 5%;
}


.left-header {
    text-align: center;
}

.service-list {
    margin-left: 15%;
    list-style: none;
    font-size: 1.5em;
}

.service-text-container {
    width: 85%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.service-text-container p {
    font-size: 1.15em;
    line-height: 1.4;
    text-align: justify;
}

.top-right-img {
    float: right;
    padding-left: 0.5em;
    max-width: 20em;
}

.top-left-img {
    float: left;
    padding: 0 .5em .5em 0;
    max-width: 20em;
}

.investigative-text {
    display: none;
}

.investigative-text:first-child {
    display: block;
}

.investigative-list:hover {
    cursor: pointer;
    color: red;
}